<footer>
    <img src="https://bbs.dfggmc.top/assets/favicon-jlifm59j.png">
    <a href="http://studio.dfggmc.top/">
        <i class="fa-solid fa-copyright"></i>
        2022 - 2024
        <i class="ignore">dfgg</i> 
        工作室
    </a>
    <a href="https://pages.dev/" target="_blank">
        <i class="fa-solid fa-cloud-sun-rain"></i>
        使用Cloudflare Pages构建和部署
    </a>
    <a href="https://icp.gov.moe/?keyword=20240200" target="_blank" rel="noopener noreferrer">萌ICP备20240200号</a>
    <p>PS : 手机端横屏浏览更佳哦！</p>
</footer>

<div id="settings" class="hide">
    <div id="SettingsContent">
        <ul id="PageList">
            <li>
                <a href="/page/ListSponsors.html">
                    <button class="BetterButton">
                        <i class="fa-solid fa-heart"></i>
                        赞助名单
                    </button>
                </a>
            </li>
        </ul>
        <ul id="Language">
            <li>
                <a href="javascript:translate.changeLanguage('chinese_simplified');">
                    <button class="BetterButton">
                        简体中文
                    </button>
                </a>
            </li>
            <li>
                <a href="javascript:translate.changeLanguage('chinese_traditional');">
                    <button class="BetterButton">繁體中文</button>
                </a>
            </li>
            <li>
                <a href="javascript:translate.changeLanguage('english');">
                    <button class="BetterButton">
                        English
                    </button>
                </a>
            </li>
        </ul>
        <ul>
            <li mdui-dialog="{target: '#musicPlayerSettings'}">
                <button class="BetterButton">
                    <i class="fa-solid fa-music"></i>
                    音乐播放器设置
                </button>
            </li>
        </ul>
    </div>
</div>
<button id="OpenSettings" type="button" class="BetterButton" onclick="toggleSettings()">
    <i class="fa-solid fa-gears"></i>
    更多功能
</button>

<script>
    translate.language.setLocal('chinese_simplified'); //设置本地语种（当前网页的语种）
    translate.selectLanguageTag.show = true; //select的选择语言
    translate.execute(); //进行翻译

    function toggleSettings() {
        var settings = $("#settings");
        if (settings.hasClass("show")) {
            settings.removeClass("show").addClass("hide").fadeOut(300);
        } else {
            settings.removeClass("hide").addClass("show").fadeIn(300);
        }
    }
</script>
<script src="/public/resources/js/MusicPlayer/init.js"></script>